<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="icon" href="../public/small-logo.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="logo"><img src="../public/logo.png" />Resource Wall</div>
          <ul>
            <li id="home-button">
              <a><i class="fas fa-home"></i></a>
            </li>
          </ul>
          <div class="input-field search-bar">
            <input id="search" type="search" autofocus />
            <label class="label-icon" for="search"
              ><i class="fas fa-search"></i
            ></label>
          </div>
          <ul id="user-buttons" class="hidden">
            <li id="create-resource-button">
              <a><i class="fas fa-plus-circle"></i></a>
            </li>
            <li id="profile-button" class="profile-picture profile-dropdown">
              <a class="profile profile-picture profile-dropdown">
                <div class="profile profile-picture profile-dropdown">
                  <img
                    alt=""
                    id="profile-picture"
                    class="circle profile profile-picture profile-dropdown"
                  />
                </div>
              </a>
              <div class="hidden dropdown" id="dropdown">
                <a id="my-resources-button">My Resources</a>
                <a class="divider"></a>
                <a id="my-profile-button">My profile</a>
                <a class="divider"></a>
                <a id="update-profile-button">Update Profile</a>
                <a class="divider"></a>
                <a id="change-password-button">Change Password</a>
                <a class="divider"></a>
                <a id="logout-button">Logout</a>
              </div>
            </li>
          </ul>
          <ul id="no-user-buttons">
            <li id="login-button">
              <a>LOGIN</a>
            </li>
            <li id="register-button">
              <a>REGISTER</a>
            </li>
          </ul>
        </div>
        <div class="row" id="tabs">
          <div class="col s12 nav-colour">
            <ul class="tabs">
              <li class="tab col s1 nav-colour">
                <a class="active nav-colour" id="ALL">All</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="ART">Art</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="COOKING">Cooking</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="DESIGN">Design</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="FINANCE">Finance</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="GARDENING">Gardening</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="HEALTH">Health/Fitness</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="LANGUAGE">Language</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="MARKETING">Marketing</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="MUSIC">Music</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="TECHNOLOGY">Technology</a>
              </li>
              <li class="tab col s1 nav-colour">
                <a class="nav-colour" id="OTHER">Other</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <%- include("error-page"); %>

      <%- include("user-page"); %>

      <%- include("resources-page"); %>

      <%- include("resource-details"); %>

      <%- include("register"); %>

      <%- include("login"); %>

      <%- include("new-resource"); %>

      <%- include("my-resources/index"); %>

      <a
        id="floating-create-resource-button"
        class="
          hidden
          circle-container
          btn-floating btn-large
          waves-effect waves-light
        "
        ><i class="fas fa-plus"></i
      ></a>
    </main>

    <script type="text/javascript" src="/scripts/components/header.js"></script>
    <script type="text/javascript" src="/scripts/components/login.js"></script>
    <script type="text/javascript" src="/scripts/components/home.js"></script>
    <script type="text/javascript" src="/scripts/components/error.js"></script>
    <script type="text/javascript" src="/scripts/network.js"></script>
    <script
      type="text/javascript"
      src="/scripts/components/user-page.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/my-resources.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/resource-details.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/profile.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/register.js"
    ></script>
    <script
      type="text/javascript"
      src="/scripts/components/new-resource.js"
    ></script>
    <script type="text/javascript" src="/scripts/view.js"></script>
  </body>
</html>
