<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home - Resource Wall</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="../public/images/small-logo.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <%- include("stylesheet"); %>
  </head>

  <body>
    <header class="navbar-fixed">
      <nav>
        <%- include("nav"); %>
        <%- include("tabs"); %>
      </nav>
    </header>

    <main>
      <%- include("error"); %>
      <%- include("user-page"); %>
      <%- include("resources"); %>
      <%- include("resource-details"); %>
      <%- include("register"); %>
      <%- include("login"); %>
      <%- include("new-resource"); %>
      <%- include("my-resources/main"); %>

      <a
        id="floating-create-resource-button"
        class="
          hidden
          circle-container
          btn-floating btn-large
          waves-effect waves-light
        "
        ><i class="fas fa-plus"></i
      ></a>
    </main>
    <%- include("scripts"); %>
  </body>
</html>
